h1 = @track_info["title"] + " by " + @track_info["user"]["username"]

audio src="/stream/#{@track_id}" controls="controls" preload="auto" autobuffer="autobuffer"

script == "comments = " + JSON.dump(@comments)
