audio id="player" src="#{{@stream_src}}" controls="controls" preload="auto" autobuffer="autobuffer"

script == "var RadioBox = {}; RadioBox.comments = " + JSON.dump(@comments)

img#background src="/blank.gif"

div#content
